# Ignore the virtual environment folder
venv/

# Ignore environment variable files
.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore VS Code settings
.vscode/
*.code-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Streamlit cache and logs
.streamlit/

# Ignore SQLite database files
*.db
*.sqlite3

# Ignore compiled files
*.so
*.dll
*.dylib

# Ignore logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
